.popular{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
}
.popular h1{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    border-radius: 10px;
    background-color: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100vw;
    max-width: 1300px;
}